
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>Fresh Burgers!</h1>
        <input type="text" class="form-control add-todo" placeholder="Add a burger">
        <hr>
        <ul id="sortable" class="list-unstyled">
          {{#each newBurgers}}
          <li class="ui-state-default">
            <div class="checkbox">
              <label class = "check">
                <input type="checkbox" value="" />{{newBurgerName}}</label>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="todolist">
        <h1>Burgers you've eatten</h1>
        <ul id="done-items" class="list-unstyled">

          {{#each oldBurgers}}
          <li>{{oldBurgerName}}</li>
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
</div>